:root{
    --main-color: white;
    --sec-color:#e7e614;
}

.gothic-a1-regular {
    font-family: "Gothic A1", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .gothic-a1-bold {
    font-family: "Gothic A1", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

html, body{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: sans-serif, 'Courier New', Courier, monospace;
    height: 100%;
    width: 100%;
}

body{
    background-color: #ffffff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#rodape{
    max-width: 800px;
}

.form-check-label{
    color: var(--main-color);
}

#email, #nome{
    padding: 0 0 0 0.5rem;
    margin: 0;
    border-radius: 0;
    background-color: transparent;
    border: none;
    color: var(--main-color);
}

#email:focus, #nome:focus {
    color: var(--main-color);
    background-color: none;
    border: none;
    outline: 0;
    box-shadow: none;
}

#btn-submit{
    background-color: #e7e614;
    color: #075795;
    border: none;
    box-shadow: none;
    border-radius: 0rem;
    min-width: 180px;
}

#container-container{
    margin: auto;

    width: 55%;

    display: flex;
    box-sizing: border-box;
    align-items: center;
    flex-direction: inherit;
}

.iframe-container{
    position: relative;
    padding-bottom: 56.25%;
    width: 100%;
}

iframe{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

#logo_holder{
    position: absolute;
    right: 15%;
    bottom: 0;
    transform: translateY(100%);
}

@media (min-width: 320px) and (max-width: 1024px) and (orientation: portrait)  {
    #container-container{
        width: 100%;
        flex-direction: column;
        padding: 2em;
    }
    
    #logo_holder{
        position: relative;
        margin: auto;
        right: auto;
        transform: translate( 0%, 0%);
    }

    body{
        
    }

    .iframe-container{
        width: 100%;
    }
}